.vscode
*.code-workspace
build
vendor
__pycache__
*.pyc
*.rdb
*.swp
*.yin
*.tree
translib/ocbinds/ocbinds.go
models/yang/*.md
.idea

#Bazel Output Dirs
bazel-bin
bazel-out
bazel-testlogs
bazel-sonic-mgmt-common
